
<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Match Scorecard</title>
    
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}">
    
    </head>
<body>

    <h1>Match Scorecard</h1>

    <div class="container">

        <div class="summary-container">

            <div class="summary-card">
                <h3>Winner</h3>
                <p>{{ summary["winner"] }}</p>
            </div>
        
            <div class="summary-card">
                <h3>Highest Scorer</h3>
                <p>
                    {{ summary["highest_scorer"] }}
                    ({{ summary["highest_runs"] }})
                </p>
            </div>
        
            <div class="summary-card">
                <h3>Highest Wicket Taker</h3>
                <p>
                    {{ summary["highest_wicket_taker"] }}
                    ({{ summary["highest_wickets"] }})
                </p>
            </div>
        
        </div>
        
        <div class="team-score-container">
        
            <div class="team-card">
                <h3>{{ summary["team1"] }}</h3>
                <h2>{{ summary["team1_full_score"] }}</h2>
            </div>
        
            <div class="team-card">
                <h3>{{ summary["team2"] }}</h3>
                <h2>{{ summary["team2_full_score"] }}</h2>
            </div>
        
        </div>
        
        <div class="stats-container">
        
            <div class="stat-card">
                <h3>Total Fours</h3>
                <h2>{{ summary["total_fours"] }}</h2>
            </div>
        
            <div class="stat-card">
                <h3>Total Sixes</h3>
                <h2>{{ summary["total_sixes"] }}</h2>
            </div>
        
        </div>
    
    </div>


    <!-- BATTING SCORECARD -->

    <h2>{{ summary["team1"] }} Innings</h2>

<table>

    <tr>
        <th>Batter</th>
        <th>Runs</th>
        <th>Balls</th>
        <th>4s</th>
        <th>6s</th>
        <th>SR</th>
    </tr>

    {% for player in team1_batting %}

    <tr>

        <td>{{ player["batter"] }}</td>

        <td>{{ player["total_runs"] }}</td>

        <td>{{ player["balls_faced"] }}</td>

        <td>{{ player["fours"] }}</td>

        <td>{{ player["sixes"] }}</td>

        <td>{{ player["strike_rate"] }}</td>

    </tr>

    {% endfor %}

</table>

<h2>{{ summary["team2"] }} Innings</h2>

<table>

    <tr>
        <th>Batter</th>
        <th>Runs</th>
        <th>Balls</th>
        <th>4s</th>
        <th>6s</th>
        <th>SR</th>
    </tr>

    {% for player in team2_batting %}

    <tr>

        <td>{{ player["batter"] }}</td>

        <td>{{ player["total_runs"] }}</td>

        <td>{{ player["balls_faced"] }}</td>

        <td>{{ player["fours"] }}</td>

        <td>{{ player["sixes"] }}</td>

        <td>{{ player["strike_rate"] }}</td>

    </tr>

    {% endfor %}

</table>


    <!-- BOWLING SCORECARD -->

    <h2>{{ summary["team2"] }} Bowling</h2>

<table>

    <tr>
        <th>Bowler</th>
        <th>Overs</th>
        <th>Runs</th>
        <th>Wickets</th>
        <th>Economy</th>
    </tr>

    {% for bowler in team1_bowling %}

    <tr>

        <td>{{ bowler["bowler"] }}</td>

        <td>{{ bowler["overs"] }}</td>

        <td>{{ bowler["runs_conceded"] }}</td>

        <td>{{ bowler["wickets"] }}</td>

        <td>{{ bowler["economy"] }}</td>

    </tr>

    {% endfor %}

</table>

<h2>{{ summary["team1"] }} Bowling</h2>

<table>

    <tr>
        <th>Bowler</th>
        <th>Overs</th>
        <th>Runs</th>
        <th>Wickets</th>
        <th>Economy</th>
    </tr>

    {% for bowler in team2_bowling %}

    <tr>

        <td>{{ bowler["bowler"] }}</td>

        <td>{{ bowler["overs"] }}</td>

        <td>{{ bowler["runs_conceded"] }}</td>

        <td>{{ bowler["wickets"] }}</td>

        <td>{{ bowler["economy"] }}</td>

    </tr>

    {% endfor %}

</table>
    
</body>
</html>
